.anecdote-container{
  border: 1px solid;
  border-radius: 5px;
  border-color:dimgray;
  padding: 5px 0 5px 10px;
  margin-bottom: 10px;
}

.anecdote-text{
  margin-bottom: 5px;
}

.btn-voting{
  margin: 0 0 0 5px;
}

.filter-container{
  margin-bottom: 10px;
}

.notification{
  text-align: center;
  border: 5px solid;
  border-color: blue;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px 10px 10px;  
}